<div>
    <table class="w-full border-collapse text-white" >
        <thead>
          <tr class="text-left border-b border-gray-300" >
            <td class="px-4 py-2">STT</td>
            <th class="px-4 py-2"*ngFor="let Column of Columns">{{ Column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-300 hover:bg-gray-800" *ngFor="let item of ListDataSource;let i =  index">
            <td class="px-4 py-2">{{i + 1 }}</td>
            <td class="px-4 py-2" *ngFor="let column of Columns">{{ item[column] }}</td>
          </tr>
        </tbody>
    </table>
</div>