<div class="navbar mb-4">
  <div class="flex items-center justify-between h-16">
    <div class="flex justify-center items-center">
      <div class="flex items-center">
        <button (click)="toggleSidebar()">
          <mat-icon class="mr-2">menu</mat-icon>
        </button>
        <a routerLink="" class="font-bold">My Website</a>
      </div>
    </div>
    
    
    <div class="ml-10 flex items-baseline space-x-4" >
      <div class="relative flex items-center" (mouseenter)="onHover()" (mouseleave)="onHover()">
        <img src="/assets/Images/User.jpg" alt="User Image" class="h-5 w-5 rounded-full">
        <a class="px-3 py-2 text-sm font-medium hover:py-1 duration-200" >{{userName || 'Login' }} </a>
        <div  [ngClass]="hover == true ? 'ShowAuth' : 'HideAuth'">
          <ul class="ShowAuth-inner ">
            <li *ngIf="userName == '' " class="my-5 hover:border-b-2 hover:border-sky-500"><a routerLink="auth/login" class="px-3 py-1 text-sm font-medium ">Login</a></li>
            <li *ngIf="userName == '' " class="my-5  hover:border-b-2 hover:border-sky-500"><a routerLink="auth/register" class="px-3 py-1 text-sm font-medium">Register</a></li>
            <li *ngIf="userName !== '' " class="my-5 hover:border-b-2 hover:border-sky-500"><a class="px-3 py-2 text-sm font-medium" routerLink="" (click)="LogOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>