.navbar {
  width: 100%;
  background-color: #191c24;
  color: white;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 99;
}

@media (min-width: 640px) {
  .navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.HideAuth{
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 8rem;
  visibility: hidden;
}
.ShowAuth {
  position: absolute;
  left: 0;
  top: 0;
  margin-top:1em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 8rem;
  visibility: visible;

}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px black;
  }
  50% {
    box-shadow: 0 0 20px black;
  }
  100% {
    box-shadow: 0 0 5px black;
  }
}


.ShowAuth-inner {
  background-color: #191c24;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
  animation: glow 2s infinite;
}