<div class="flex flex-col mx-auto px-4 sm:px-6 lg:px-8 ">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <div class="flex items-center">
        <button (click)="toggleSidebar()">
          <mat-icon class="mr-2">menu</mat-icon>
        </button>
        <a routerLink="/" class="text-gray-900 font-bold">My Website</a>
      </div>
    </div>
    
    <div class="ml-10 flex items-baseline space-x-4" >
      <div class="relative" (mouseenter)="onHover()" (mouseleave)="onHover()">
        <a class="px-3 py-2 text-sm font-medium hover:border-b-2 rounded hover:border-sky-500 hover:py-1 duration-200" >{{userName}}</a>
        <div  [ngClass]="hover == true ? show : hidden">
          <ul>
            <li *ngIf="userName == 'Login' " class="my-5"><a routerLink="auth/login" class="px-3 py-2 text-sm font-medium hover:border-b-2 hover:border-sky-500">Login</a></li>
            <li *ngIf="userName == 'Login' " class="my-5"><a routerLink="auth/register" class="px-3 py-2 text-sm font-medium hover:border-b-2 hover:border-sky-500">Register</a></li>
            <li *ngIf="userName !== 'Login' " class="my-5"><a class="px-3 py-2 text-sm font-medium hover:border-b-2 hover:border-sky-500" routerLink="" (click)="LogOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>