.drawer{
  background-color: #191c24;
  color:white;
}

.drawer-Item{
  display: flex;
  align-items: center;
  width: 90%;
  padding: 1em 1em 1em 2em;
  font-weight: bold;
  justify-content: space-between;
  user-select: none;
}
.drawer-Item:hover {
  background-color: black;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 2px solid aqua;
}

@media (max-width: 479px) {
  .drawer {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .drawer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .drawer {
    width: 20%;
  }
}

.Project-icon{
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}
.Project-icon2{
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.Project-List-Hide {
  height: 0;
  visibility: hidden;
  transform: translateY(-1em);
  transition: transform ease 0.3s;
  animation-name: hideAnimation;
  animation-duration: 0.3s;
}

.Project-List-Show {
  min-height: 100px;
  transform: translateY(0);
  transition: transform ease 0.3s;
  animation-name: showAnimation;
  animation-duration: 0.3s;
}

@keyframes hideAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1em);
    visibility: hidden;
    height: 0;
  }
}

@keyframes showAnimation {
  from {
    transform: translateY(-1em);
    visibility: hidden;
    height: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    min-height: 100px;
  }
}

.Project-Tool{
  margin: 1em 2em 0em 2em;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.Project-Search{
  padding:1em;
  border-radius: 2em;
  width: 80%;
  height: 2.5em;
  align-items: center;
  border: none;
  background-color: rgba(249, 247, 244, 0.75);
}
.ListProjectContainer{
  min-height: 0px;
  max-height: 200px;
  overflow-y: scroll;
}