@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~ngx-bootstrap/tooltip/bs-tooltip.css'; */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~font-awesome/css/font-awesome.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black;}
